/node_modules
__pycache__
/server/static/styles/main.css
/server/static/scripts/htmx.min.js
/server/static/current
/server/static/current.png
db.json

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

/.env