{
	log default {
		format console
	}
}

:{$CADDY_PORT} {
	handle_path /healthcheck {
		respond "OK"
	}

	handle /static/current {
		uri strip_prefix /static/current
		root server/static/current
		file_server
	}

	handle /current_dashboard {
		encode zstd gzip
		reverse_proxy localhost:5000
	}

	handle /static/* {
		encode zstd gzip
		uri strip_prefix /static
		root server/static
		file_server
	}

	handle {
		basic_auth {
			{$CADDY_USER} {$CADDY_PASSWORD_HASH}
		}
		encode zstd gzip
		reverse_proxy localhost:5000
	}
}
