<form class="gap-4">
  <PrimaryButton class_name="mr-4" hx_put="/current" hx_include="#image_data" hx_encoding="multipart/form-data">
    <span class="htmx-indicator-default">
      SUBMIT
    </span>
    <span class="htmx-indicator">
      LOADING...
    </span>
  </PrimaryButton>
  <SecondaryButton hx_post="/clear" hx_on_config_request="configRequest(event);" hx_encoding="multipart/form-data">
    <span class="htmx-indicator-default">
      CLEAR
    </span>
    <span class="htmx-indicator">
      CLEARING...
    </span>
  </SecondaryButton>
  <input type="file" id="image_data" name="image_data" class="hidden" />
  <div class="mt-6 text-red-600 htmx-error-message">
    <strong>Error</strong>: Failed to transmit image data
  </div>
</form>