{#def back_button=false #}

<div class="flex flex-row mt-6 select-none px-2">
  {% if back_button %}
  <a class="text-2xl flex-initial cursor-pointer flex flex-row items-center" href="/">
    <div>⬅</div>
    <div class="text-base align-middle ml-2">Back</div>
  </a>
  {% endif %}
  <div class="text-2xl font-black flex-1 text-center">
    {{content}}
  </div>
</div>