{#def back_button=false #}

<header>
  <div class="flex flex-row mt-6 select-none">
    {# {% if back_button %}
    <a class="text-2xl flex-initial cursor-pointer flex flex-row items-center" href="/">
      <div>⬅</div>
      <div class="text-base align-middle ml-2">Back</div>
    </a>
    {% endif %} #}
    <div class="text-2xl text-gray-600 flex-1 text-center font-serif px-4 py-4 border-b-2 border-gray-400">
      Huey's eInk Screen
    </div>
  </div>

  <div class="flex flex-row gap-4 my-6">
    {% for item in nav_items %}
    <Link href={{ item.path }}>
    {{ item.title }}
    </Link>
    {% endfor %}
  </div>
</header>