{#def href="javascript:void", class_name="" #}

{% set matches_current_path = current_path() == href %}

{% if matches_current_path %}
<div class="px-4 py-2 bg-indigo-500 text-white">
  {{ content }}
</div>
{% else %}
<a class="px-4 py-2 bg-slate-200" href="{{ href }}">
  {{ content }}
</a>
{% endif %}