{#def class_name="", hx_put="", hx_post="", hx_include="", hx_on_config_request="", hx_on_confirm="", hx_encoding="" #}

<button class="bg-indigo-700 text-white py-2 px-4 font-bold cursor-pointer {{class_name}}" type="button" {%- if hx_put -%} hx-put="{{ hx_put }}" {%- endif -%}
  {%- if hx_post -%} hx-post="{{ hx_post }}" {%- endif -%} {%- if hx_include -%} hx-include="{{ hx_include }}" {%- endif -%} {%- if hx_on_config_request -%}
  hx-on:htmx:config-request="this.closest('form').classList.remove('htmx-error'); {{ hx_on_config_request }}" {%- endif -%} {%- if hx_on_confirm -%}
  hx-on:htmx:confirm="this.closest('form').classList.remove('htmx-error'); {{ hx_on_confirm }}" {%- endif -%}
  hx-on:htmx:error="this.closest('form').classList.add('htmx-error');" hx-swap="none" {%- if hx_encoding -%} hx-encoding="{{ hx_encoding }}" {%- endif -%}>
  {{ content }} </button>