<BaseScreen title="Text input - Huey's eink screen">
  <div class="max-w-(--breakpoint-md) mx-auto">
    <Header />

    <Canvas />

    <script>
      const canvas = document.getElementById("preview")
      const ctx = canvas.getContext("2d")

      const updatePreview = () => {
        const text = document.getElementById("input_text").value
        const font = document.getElementById("input_font").value || "sans-serif"

        ctx.fillStyle = "black"
        ctx.font = `72px ${font}`
        ctx.fillText(text, 20, 80)
      }

      document.addEventListener("DOMContentLoaded", () => {
        updatePreview()
      })

      const configRequest = (event, data) => {
        if (typeof data === 'undefined') {
          // use current imageData by default
          const rawImageData = ctx.getImageData(0, 0, CANVAS_WIDTH, CANVAS_HEIGHT).data
          const imageData = convertImageDataToMonoRedHLSB(rawImageData, CANVAS_WIDTH, CANVAS_HEIGHT)
          event.detail.parameters['image_data'] = imageData
        } else {
          // if empty string specified
          ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height)
          event.detail.parameters['image_data'] = ''
        }
      }
    </script>
</BaseScreen>