<BaseScreen title="Text input - Huey's eink screen">
  <div class="max-w-(--breakpoint-md) mx-auto">
    <Header />

    <Canvas />

    <form class="mt-6">
      <label class="block w-full mb-4">
        <span class="block text-lg font-bold">Type</span>
        <select class="bg-indigo-50 text-indigo-700 px-4 py-2 mt-2 hover:bg-indigo-100 cursor-pointer" name="dashboard_type" hx-post="/dashboard"
          hx-swap="none">
          {% for item in dashboard_types %}
          <option>{{ item }}</option>
          {% endfor %}
        </select>
      </label>
      <PrimaryButton hx_post="/dashboard">
        <span class="htmx-indicator-default">
          REFRESH
        </span>
        <span class="htmx-indicator">
          REFRESHING...
        </span>
      </PrimaryButton>
      <div class="mt-6 text-red-600 htmx-error-message">
        <strong>Error</strong>: Failed to refresh dashboard
      </div>
    </form>

    <script>

      document.addEventListener("DOMContentLoaded", async () => {
        loadInitialCanvas()
        window.setInterval(() => {
          loadInitialCanvas()
        }, 2000)
      })
    </script>
</BaseScreen>