<BaseScreen title="Text input - Huey's eink screen">
  <div class="max-w-(--breakpoint-md) mx-auto">
    <Header />

    <Canvas />

    <script>

      document.addEventListener("DOMContentLoaded", async () => {
        loadInitialCanvas()
        window.setInterval(() => {
          loadInitialCanvas()
        }, 2000)
      })
    </script>
</BaseScreen>