<BaseScreen title="Text input - Huey's eink screen">
  <div class="max-w-(--breakpoint-md) mx-auto">
    <Header />

    <Canvas />

    <div class="flex flex-col items-start py-6">
      <label class="w-full">
        <span class="block text-lg font-bold">Source</span>
        <select class="bg-indigo-50 text-indigo-700 px-4 py-2 mt-2 hover:bg-indigo-100 cursor-pointer" id="source" hx-trigger="changed"
          hx-on:change="updatePreview();">
          {% for item in headline_options %}
          <option>{{ item[0] }}</option>
          {% endfor %}
        </select>
      </label>
    </div>
  </div>

  <script>
    const canvas = document.getElementById("preview")
    const ctx = canvas.getContext("2d")

    const updatePreview = () => {
      const text = document.getElementById("input_text").value
      const font = document.getElementById("input_font").value || "sans-serif"

      ctx.fillStyle = "black"
      ctx.font = `72px ${font}`
      ctx.fillText(text, 20, 80)
    }

    document.addEventListener("DOMContentLoaded", () => {
      updatePreview()
    })

    const configRequest = (event, data) => {
      if (typeof data === 'undefined') {
        // use current imageData by default
        const rawImageData = ctx.getImageData(0, 0, CANVAS_WIDTH, CANVAS_HEIGHT).data
        const imageData = convertImageDataToMonoRedHLSB(rawImageData, CANVAS_WIDTH, CANVAS_HEIGHT)
        event.detail.parameters['image_data'] = imageData
      } else {
        // if empty string specified
        ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height)
        event.detail.parameters['image_data'] = ''
      }
    }
  </script>
</BaseScreen>