<BaseScreen title="Huey's eink screen">
  <div class="max-w-screen-md mx-auto">
    <Header>
      Huey's eInk Screen
    </Header>
    <div class="flex flex-col gap-4 my-6 mx-2">
      <Link href="/text">
      Text
      </Link>
      <Link href="/image">
      Image
      </Link>
      <Link href="/toots">
      Toots
      </Link>
    </div>
  </div>
</BaseScreen>