<BaseScreen title="Text input - Huey's eink screen">
  <div class="max-w-screen-md mx-auto">
    <Header back_button>
      Text
    </Header>

    <div class="flex flex-col items-start py-6 px-2">
      <label class="w-full">
        <span class="block text-lg font-bold">Text</span>
        <textarea class="w-full block my-4 px-4 py-2 border border-neutral-500 resize-y" type="text" placeholder="Enter string..." id="input_text"
          hx-trigger="debounce:500ms changed" hx-on:input="updatePreview();"></textarea>
      </label>

      <label class="w-full">
        <span class="block text-lg font-bold">Font Family</span>
        <input class="w-full block my-4 px-4 py-2 border border-neutral-500 resize-y" type="text" placeholder="sans-serif" id="input_font"
          hx-trigger="debounce:500ms changed" hx-on:input="updatePreview();" />
      </label>

      <div class="flex flex-row gap-4">
        <PrimaryButton hx_put="/current" hx_on_config_request="configRequest(event);">SUBMIT</PrimaryButton>
        <SecondaryButton hx-put="/current" hx_on_config_request="configRequest(event, '');">CLEAR</SecondaryButton>
      </div>
    </div>

    <Canvas />
  </div>

  <script>
    const canvas = document.getElementById("preview")
    const ctx = canvas.getContext("2d")

    const updatePreview = () => {
      const text = document.getElementById("input_text").value
      const font = document.getElementById("input_font").value || "sans-serif"

      ctx.fillStyle = "white"
      ctx.fillRect(0, 0, CANVAS_WIDTH, CANVAS_HEIGHT)

      ctx.fillStyle = "black"
      ctx.font = `72px ${font}`
      ctx.fillText(text, 20, 80)
    }

    document.addEventListener("DOMContentLoaded", () => {
      updatePreview()
    })

    const configRequest = (event, data) => {
      if (typeof data === 'undefined') {
        // use current imageData by default
        const rawImageData = ctx.getImageData(0, 0, CANVAS_WIDTH, CANVAS_HEIGHT).data
        const imageData = convertImageDataToMonoRedHLSB(rawImageData, CANVAS_WIDTH, CANVAS_HEIGHT)
        event.detail.parameters['image_data'] = imageData
      } else {
        // if empty string specified
        event.detail.parameters['image_data'] = ''
      }
    }
  </script>
</BaseScreen>