<BaseScreen title="Text input - Huey's eink screen">
  <div class="max-w-(--breakpoint-md) mx-auto">
    <Header />

    <Canvas />

    <div class="flex flex-col items-start py-6 px-2">
      <label class="w-full">
        <span class="block text-lg font-bold">Text</span>
        <textarea class="w-full block my-4 px-4 py-2 border border-neutral-500 resize-y" type="text" placeholder="Enter string..." id="input_text"
          hx-trigger="debounce:500ms changed" hx-on:input="updatePreview();"></textarea>
      </label>

      <label class="w-full">
        <span class="block text-lg font-bold">Font Family</span>
        <input class="w-full block my-4 px-4 py-2 border border-neutral-500 resize-y" type="text" placeholder="sans-serif" id="input_font"
          hx-trigger="debounce:500ms changed" hx-on:input="updatePreview();" />
      </label>
    </div>

    <ActionButtons />

    <p class="mt-6">
      For more complex text layouts, use the <a href="/image">Image</a> mode with a text or image editor. For example, you can use <a
        href="https://www.photopea.com/">Photopea</a> or upload a screenshot from your computer.
    </p>
  </div>

  <script>
    const updatePreview = () => {
      const text = document.getElementById("input_text").value
      const font = document.getElementById("input_font").value || "sans-serif"

      ctx.fillStyle = "black"
      ctx.font = `72px ${font}`
      ctx.fillText(text, 20, 80)

      canvas.toBlob(blob => {
        const dataTransfer = new DataTransfer()
        const file = new File([blob], 'image.png', { type: blob.type })
        dataTransfer.items.add(file)

        const fileInput = document.getElementById("image_data")
        fileInput.files = dataTransfer.files
      }, "image/png")
    }

    document.addEventListener("DOMContentLoaded", () => {
      updatePreview()
    })

    const configRequest = (event) => {
      // only used for clear request
      document.getElementById("input_text").value = ''
      ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height)
    }
  </script>
</BaseScreen>